[Unit]
Description=Bluetooth Button Service
After=bluetooth.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=pi
ExecStart=/usr/bin/python3 /home/pi/bin/bluebutton.py

[Install]
WantedBy=multi-user.target
